<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head") %>
    </head>
    <body>
        <%- include("includes/header") %> <%- include("includes/side-drawer") %>
        <main>
            <h1>500 : Server side errors!</h1>
            <p>
                Unfortunately, went wrong on our server - We would try to fix
                this as soon as possible.
            </p>
        </main>
    </body>
</html>
